# fly.toml app configuration file generated for icp-off-chain-agent on 2024-02-27T01:43:06+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'icp-off-chain-agent-temp'
primary_region = 'cdg'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[build]

[env]
PORT = '8080'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[[http_service.checks]]
path = '/healthz'

[[services]]
protocol = 'tcp'
internal_port = 8080

[[services.ports]]
port = 80
handlers = ['http']

[[services.ports]]
port = 443
handlers = ['tls', 'http']

[services.concurrency]
hard_limit = 25
soft_limit = 20


[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
